#container {
    width: 250px;
}

.multiselect {
    position: relative;
    border: 1px solid #B3B3B3;
    height: 27px;
    width: 100%;
    box-sizing: border-box;
}

.multiselect .shade {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #DDD;
    opacity: 0.6;
    z-index: 98;
    
}

.multiselect .spinner {
    background-image: url(/img/spinner-16.gif);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
}

.multiselect .description {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
    padding-left: 5px;
}

.multiselect .arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 25px;
    border-left: 1px solid #B3B3B3;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.multiselect .arrow:hover {
    background: lightblue;
}

.multiselect .arrow:after {
    content: "\25BC";
}


.multiselect .arrow.up:after {
    content: "\25B2";
}

.multiselect .list {
    position: absolute;
    
    overflow-x: hidden;
    overflow-y: auto;
    left: -1px;
    right: -1px;
    border: 1px solid #B3B3B3;
    border-top: none;
    box-sizing: border-box;
    display: none;
    z-index: 10;
    background-color: #FFF;
}

.multiselect .list.down {
    display: block;
    top: 26px;
}

.multiselect .list.up {
    display: block;
    bottom: 26px;
}

.multiselect .list > div {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.multiselect .list > div > div {
    display: table-row;
    cursor: pointer;
}

.multiselect .list > div > div:hover {
    background-color: #DDD;
}

.multiselect .list > div > div > div:first-child {
    width: 25px;
    text-align: center;
}

.multiselect .list > div > div > div {
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    padding: 5px 2px;
    border-top: 1px solid #B3B3B3;
    box-sizing: border-box;
}

.multiselect .list.down > div > div:first-child > div {
    border-top: none;
}

.multiselect .list > div > div > div > div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
