/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-amber-300 {
    color: #FFD54F;
}

.material-icons.md-grey-300 {
    color: #e0e0e0;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

#app > .layout {
    -js-display: flex;
    -js-flex-direction: column;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

#app > .layout > .file-list {
    -js-display: flex;
    -js-flex-direction: column;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

#app > .layout > .file-list > .file {
    -js-display: flex;
    -js-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    margin: 8px 0 0 0;
    min-height: 48px;
}

#app > .layout > .file-list > .file > .profile {
    -js-display: flex;
    display: flex;
    min-width: 0;
}

#app > .layout > .file-list > .file > .profile > .icon {
    -js-display: flex;
    -js-flex-direction: column;
    -js-justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48px;
    height: 48px;
}

#app > .layout > .file-list > .file > .profile > .icon > img {
    max-width: 48px;
    max-height: 48px;
}

#app > .layout > .file-list > .file > .profile > .data {
    -js-display: flex;
    -js-flex-direction: column;
    -js-justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16px;
    min-width: 0;
}

#app > .layout > .file-list > .file > .profile > .data > .name {
    -js-display: flex;
    display: flex;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#app > .layout > .file-list > .file > .profile > .data > .desc {
    -js-display: flex;
    display: flex;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#app > .layout > .file-list > .file > .actions {
    -js-display: flex;
    display: flex;
}

#app > .layout > .file-list > .file > .actions > .action {
    -js-display: flex;
    -js-align-items: center;
    -js-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e0e0;
    margin: 8px 0;
    padding: 0 16px;
    border-radius: 4px;
}

#app > .layout > .file-list > .file > .actions > .action > .icon {
    -js-display: flex;
    display: flex;
}

#app > .layout > .file-list > .file > .actions > .action > .text {
    font-size: 14px;
    margin: 0 0 0 8px;
}

#app > .layout > .file-list > .file > .actions > .status {
    -js-display: flex;
    -js-align-items: center;
    -js-justify-content: center;
    -js-flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#app > .layout > .file-list > .file > .actions > .status > .progress {
    -js-display: flex;
    display: flex;
    max-width: 100%;
    width: 200px;
    height: 8px; /* Can be anything */
    position: relative;
    background: #e0e0e0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#app > .layout > .file-list > .file > .actions > .status > .text {
    margin-top: 4px;
    font-size: 13px;
}

#app > .layout > .file-list > .file > .actions > .status > .progress > span {
    display: block;
    height: 100%;
    border-radius: 8px;
    background-color: #03A9F4;
    position: relative;
    overflow: hidden;
}

#app > .layout > .preview {
    -js-display: flex;
    -js-align-items: center;
    -js-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    height: 512px;
}

#app > .layout > .preview > img {
    max-width: 100%;
    max-height: 100%;
}

#app > .layout > .author {
    margin-top: 8px;
}

#app > .layout > .author > .owner {
    font-size: 13px;
}

#app > .layout > .author > .date {
    font-size: 13px;
}

@media (max-width: 540px) {
    #app > .layout > .file-list > .file > .actions > .action > .text {
        -js-display: none;
        display: none;
    }
}