<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Server Error</title>
    <style type="text/css">
        #content-side {
        }

        .content-container {
            padding: 10px 20px 10px 20px;
        }

        .clear {
            clear: both;
        }

        #header #line-2 {
            border-top: 1px solid #6693cc;
            background-color: #4178bb;
            background: linear-gradient(to top, #447dc0, #3e73b7);
            width: 100%;
            padding: 10px;
            z-index: 1;
        }

    </style>
    <link href="/img/favicon.ico" rel="shortcut icon"/>
</head>
<body>
<div id="header">
    <div id="line-2">
        <img alt="" id="logo" src="/img/header/topmenu-logo.png"/>
    </div>
</div>

<div id="middle-block">
    <div id="content-side">
        <div class="content-container">
            <h1>Error</h1>
            Server error
        </div>
    </div>
</div>
</body>
</html>
